<!-- Card Widget -->
<div class="card text-center shadow-sm" style=" border-radius: 10px;">
  <div class="card-header">
    Reemplazos pendientes de aprobación
    <a href="#" class="arrow-link">
      <i class="fas fa-arrow-right"></i>
    </a>
  </div>

  <div class="card-body">
    <h3 class="card-title">
      {{totalPendientes}}
    </h3>

    <p class="card-text">
      Reemplazos pendientes
    </p>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<link rel="stylesheet" href="reemplazos.component.css">
